<header>
    <a href="#">Ecommerce</a>
    <button class="btnHamburguer"> <fa-icon class="icon menu" [icon]="menuIcon"></fa-icon> </button>

    <div class="mobile__menu">
        <div class="elements__container">
            <div class="back">
                <button class="btn__back"> <fa-icon class="icon backI" [icon]="backIcon"></fa-icon> SALIR </button>
            </div>
            <a href="#" class="link">Home</a>
            <a href="#" class="link">Productos</a>
            <a href="#" class="link">About</a>
        </div>
    </div>
</header>
