<footer>
    <a href="#" class="link title">Ecommerce</a>
    <article class="description__container">
        <p class="description">
            Este proyecto simula un Ecommerce desarrollado con fines de portafolio personal. <br><br>
            Esta desarrollado con Angular v19 con arquitectura standalone y programación reactiva con RxJS, aplicando
            buenas practicas como servicios facade, uso de Async pipe y enfocado a mobile first. <br><br>
            El maquetado se realizó con SCSS, siguiendo un diseño tomado de Figma, e integrando peticiones a una API
            REST (Fake Store API) para los productos y categorías, con foco en el aprendizaje y la correcta
            estructuración de una aplicación Front End.
        </p>
    </article>
    <article class="socials__container">
        <a href="#" class="link"> <fa-icon class="icon linkedin" [icon]="linkedinIcon"></fa-icon> </a>
        <a href="#" class="link"> <fa-icon class="icon github" [icon]="gitHubIcon"></fa-icon> </a>
    </article>
</footer>