<main>
    @if(product$ | async; as producto){
    <article class="producto__container">
        <img [src]="producto.image" [alt]="producto.title">
        <div class="producto--text">
            <h1 class="title"> {{producto.title}} </h1>
            <p class="price"> {{producto.price | currency: 'MXN' : 'symbol-narrow' : '1.2-2'}} </p>
            <button (click)="addProductoToCart(producto)">Add to Cart</button>
        </div>
    </article>
    <article class="details__container">
        <h2>Details</h2>
        <p class="description"> {{producto.description}} </p>
    </article>
    }



    <article class="related__container">
        <h2>Related Products</h2>
        <div class="related__items">
            @for (producto of relatedProducts$ | async; track $index) {
            <div class="card">
                <img [src]="producto.image" [alt]="producto.title">
                <p class="title"> {{producto.title}} </p>
                <p class="price"> {{producto.price | currency: 'MXN' : 'symbol-narrow' : '1.2-2'}} </p>
                <button class="btnBuyNow" (click)="toProductDetail(producto.id!)">Buy Now</button>
            </div>
            }
        </div>
    </article>

    <div class="modal__addCart" [class.active]="openModal">
        <div class="addCart__container">
            <div class="addCart__text">
                <fa-icon class="icon cart" [icon]="cartIcon"></fa-icon>
                <h2>Added to Cart</h2>
            </div>
            <button class="acceptBtn" (click)="openAddModal()">Accept</button>
        </div>
    </div>
</main>